<div class="user-details">
  <h1> Meus Projetos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Educação Financeira </h3>
    <ul>
      <li> Habilidades desenvolvidas</li>
    </ul>
    <p>Projeto em desenvolvimento. Projeto visa implementar aulas de educação financeira para estudantes do ensino médio, em vias de ingressar no mercado profissional. O trabalho tem o intuito de ensinar aos alunos a ter um uso conciente do dinheiro, montar uma poupança, e investimentos básicos no Brasil.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Programa Institucional de Bolsas de Iniciação à Docência </h3>
    <ul>
      <li> Habilidades desenvolvidas</li>
    </ul>
    <p>Projeto da UFV - Florestal, sob supervisão dos Professores Fernando Bastos e Fabiane Bicalho. Visa o desenvolvimento de materiais de alta qualidade para o uso em sala de aula de escolas de todo o Brasil. O projeto é centrado nos alunos da E. E. Joaquim Correa, onde desenvolvemos listas de exercícios, jogos, oficinas, pôsteres, recomendações de filmes e livros, etc.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
